/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bg-top {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 750px;
  height: 364px;
}
.icon-close {
  background-image: url(sprite.png);
  background-position: -393px -482px;
  width: 22px;
  height: 22px;
}
.icon-logo {
  background-image: url(sprite.png);
  background-position: 0px -444px;
  width: 274px;
  height: 147px;
}
.icon-pop-t {
  background-image: url(sprite.png);
  background-position: 0px -374px;
  width: 680px;
  height: 60px;
}
.icon-sp-delete {
  background-image: url(sprite.png);
  background-position: -320px -482px;
  width: 29px;
  height: 29px;
}
.icon-sp-eyeOff {
  background-image: url(sprite.png);
  background-position: -371px -444px;
  width: 35px;
  height: 17px;
}
.icon-sp-eyeOn {
  background-image: url(sprite.png);
  background-position: -328px -444px;
  width: 33px;
  height: 22px;
}
.icon-sp-gt {
  background-image: url(sprite.png);
  background-position: -732px -374px;
  width: 14px;
  height: 24px;
}
.icon-sp-msg {
  background-image: url(sprite.png);
  background-position: -284px -444px;
  width: 34px;
  height: 28px;
}
.icon-sp-pas {
  background-image: url(sprite.png);
  background-position: -690px -374px;
  width: 32px;
  height: 36px;
}
.icon-sp-phone {
  background-image: url(sprite.png);
  background-position: -284px -482px;
  width: 26px;
  height: 35px;
}
.icon-sp-service {
  background-image: url(sprite.png);
  background-position: -284px -527px;
  width: 25px;
  height: 31px;
}
.icon-sp-warning {
  background-image: url(sprite.png);
  background-position: -359px -482px;
  width: 24px;
  height: 24px;
}
